<form class="form" #newsForm="ngForm" (ngSubmit)="onSubmit(newsForm)">
  <div class="form__group">
    <label for="exampleInputEmail1" class="">عنوان :</label>
    <input
      class="form__input"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      required
      name="header"
      ngModel
      type="text"
    />
  </div>
  <div class="form__group">
    <label class="form-label" for="floatingTextarea2">متن :</label>
    <textarea
      class="form__textarea"
      id="floatingTextarea"
      required
      name="body"
      ngModel
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <button type="submit" class="" [disabled]="!newsForm.valid">ذخیره</button>
</form>
