<app-header></app-header>
<nav class="main__nav">
  <ul class="main__nav--list container">
    <li class="">
      <a
        class="main__nav--link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/home"
      >
        <fa-icon [icon]="faHome"></fa-icon> خانه</a
      >
    </li>
    <li class="">
      <a class="main__nav--link" routerLinkActive="active" routerLink="/news">
        <fa-icon [icon]="faNewspaper"></fa-icon> خبرنامه</a
      >
    </li>
    <li class="">
      <a class="main__nav--link" routerLinkActive="active" routerLink="addNews">
        <fa-icon [icon]="faPlusCircle"></fa-icon> اضافه کردن</a
      >
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
