.btn-mobile-nav {
  border: none;
  background: none;
  margin: 2rem;
  cursor: pointer;
  height: 4.8rem;
  width: 4.8rem;
  display: none;
  z-index: 100;
}
.icon-mobile-nav {
  font-size: 3.2rem;
  color: #333;
}
.icon-mobile-nav[name="close"] {
  display: none;
}
.news {
  display: flex;
  margin: 2rem;
  gap: 1rem;
  position: relative;
}
.nav {
  min-width: 25rem;
}
.nav__items {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
}
.nav__item {
}
.nav__link:link,
.nav__link:visited {
  color: #333;
  padding: 1rem;
  text-decoration: none;
  line-height: 1.2rem;
}
.nav__link:hover,
.nav__link:active {
}
@media (max-width: 59em) {
  .btn-mobile-nav {
    display: block;
  }
  .nav {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 0 0 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }
}
